* {
    margin: 0;
    padding: 0;
}

.json-box {    
    position: absolute;
    right: 10%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.json-box > button {
    width: 40%;
}

.json-box > * {
    margin: 0.2rem;
}

.request-boxes {
    padding: 1rem;
}

.request-elements {
    display: flex;
    padding: 0.2rem 1rem;
}

.request-elements > * {
    margin: 0.3rem 0.4rem;
}

.discovered-text {
    position: relative;
}

.server-up {
    color: green;
}

.server-down {
    color: red;
}



.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}
